p,td									{ font-family: Verdana, Arial, sans-serif; color: #003366; font-size:8pt }
.separator		 						{ BACKGROUND: #CC0066 }
.infopanelhdr		 					{ BACKGROUND: #DCDCDC; font-family: Verdana, Arial, sans-serif; color: #003366; font-size:8pt  }
.infopanel		 						{ BACKGROUND: #F0F0F0; font-family: Verdana, Arial, sans-serif; color: #003366; font-size:8pt  }
A 										{ color: #003366; font-weight:bold; TEXT-DECORATION: none}
A:hover 								{ color: #003366; TEXT-DECORATION: underline }
.footer									{ font-size: 7pt; color: #003366; font-family: Verdana, Arial, sans-serif; text-align: left; TEXT-TRANSFORM: none; }
.rptHdr									{ BACKGROUND: #DCDCDC; FONT-SIZE: 8pt; font-weight: 800; TEXT-ALIGN: left; }
.rpt0									{ BACKGROUND: #FFFFFF; FONT-SIZE: 8pt; TEXT-ALIGN: left; }
.rpt1									{ BACKGROUND: #F0F0F0; FONT-SIZE: 8pt; TEXT-ALIGN: left; }